body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
  background-image: url('https://fotografias.flooxernow.com/clipping/cmsimages01/2021/08/26/A85F698D-6E7F-4BCE-A8B3-246C96D14D0E/97.jpg?crop=1280,720,x0,y122&width=1600&height=900&optimize=high&format=webply');
  background-size: cover;;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(255, 147, 213);
  margin: 0;
  height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
}

.image-container {
  max-width: 80%;
  margin: 0 auto;
}

.image-container img {
  width: 100%;
  height: auto;
  max-width: 200px;
}