body {
    font-family: sans-serif;
    font-size: 1rem;
    background-color: rgb(74, 173, 180);
    color: white;
  }

img {
    filter: blur(1px) brightness(110%) contrast(120%);
    scale: 120%;
  }